/** {
	border: 1px solid rgba(0, 0, 0, 0.3);
}*/

html, body {
	height: 100%;
	width: 100%
	margin: 0;
	padding: 0;
	overflow-y:hidden;
	letter-spacing: 1.7px;
}

body {
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #f4f4f4;
}

.button_language_english {
	border: 0.5px solid #a9a9a9;
	float: right;
	display: inline-block;
	color: #090909;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	cursor: pointer;
	transition: all 0.3s;
	width: 80px;
	height: 27px;
	margin-right: 15px;
	margin-top: 15px;
	background: url(../img/pealeht/globe.png) 5px no-repeat;
	background-color: #fafafa;
	background-size: 20%;
	padding-left: 20px;
	padding-top: 10px;
}

.button_language_estonian {
    border: 0.5px solid #a9a9a9;
    float: right;
    display: inline-block;
    color: #090909;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s;
    width: 80px;
    height: 27px;
    margin-right: 15px;
    margin-top: 15px;
    background: url(../img/pealeht/globe.png) 5px no-repeat;
    background-color: #fafafa;
    background-size: 20%;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 10px;
}

#top {
	width: 100%;
	text-align: center;
	margin: 20px 0px 20px 0px;
}


#top img {
  display: block;
  margin: 0 auto;
  width: 30%
}


#middle {
	margin: 0;
	padding: 0;
	display: flex;
	height: 470px;
	width: 100%
}

#middle article h1 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 17px;
	font-weight: normal;
	color: #fafafa;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#left {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.10)), url(../img/pealeht/accounting.jpg);
	background-size: cover;
	background-position: center;
	flex: 1;
	padding: 1rem;
	transition: all .2s ease-in-out;
}

#right {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.10)), url(../img/pealeht/sales1.jpg);
	background-size: cover;
	background-position: center;
	flex: 1;
	padding: 1rem;
	transition: all .2s ease-in-out;
}


#left:hover, #right:hover {
	transform: scale(0.95);
}

.button {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 0px;
	color: #fafafa;
	background-color: #f7b733;
	padding: 7px;
	margin: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s;
	width: 150px;
}

.button:hover {
	background: #eea309;
	color: #fff;
}

/*FOOTER*/
footer {
	height: 50px;
	padding: 15px;
	font-size: 12px;
	text-align: center;
	color: #090909;
	background: #f4f4f4;
}