/** {
	border: 1px solid rgba(0, 0, 0, 0.3);
}*/

html, body {
	height: 100%;
	max-width: 100%;
	overflow-y:hidden;
	letter-spacing: 1.7px;
}

body {
	color: #090909;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #f4f4f4;
}

.button_language_estonian,
.button_language_english {
	border: 0.5px solid #a9a9a9;
	float: right;
	display: inline-block;
	color: #090909;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	cursor: pointer;
	transition: all 0.3s;
	width: 80px;
	height: 25px;
	margin-right: 15px;
	margin-top: 15px;
	background: url(../img/pealeht/globe.png) 5px no-repeat;
	background-color: #fafafa;
	background-size: 15%;
	line-height: 18px;
	padding-top: 8px;
}


.button_language_english {
	padding-left: 15px;
}


.button_language_estonian {
	padding-left: 20px;
	padding-right: 5px;
}


#top {
	width: 100%;
	text-align: center;
	margin: 20px 0px 20px 0px;
}


#top img {
	display: block;
	margin: 0 auto;
	width: 30%
}


#middle {
	display: flex;
	height: 72%;
	max-width: 100%; 
}


#middle h1 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 17px;
	font-weight: normal;
	color: #fafafa;
	padding-top: 100px;
}

#left {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.10)), url(../img/pealeht/accounting.jpg);
}


#right {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.10)), url(../img/pealeht/sales1.jpg);
}


#left,
#right {
	max-width: 100%;
	padding: 120px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	align-items: center;
	background-size: cover;
	background-position: center;
	transition: all .2s ease-in-out;
}


#left:hover, #right:hover {
	transform: scale(0.95);
}

a {
	text-decoration: none;
	font-size: 14px;
	color: #fafafa;
	font-weight: normal;
}

.button {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	background-color: #f7b733;
	padding: 7px;
	text-align: center;
	margin-top: auto;
	cursor: pointer;
	transition: all 0.3s;
	width: 150px;
}

.button:hover {
	background: #eea309;
	color: #fff;
}

/*FOOTER*/
footer {
	height: 50px;
	padding: 15px;
	font-size: 15px;
	text-align: center;
	color: #090909;
	background: #f4f4f4;
}


/*MOBIILI VERSIOON*/
@media screen and (max-width: 1024px) {
	.button_language_estonian,
	.button_language_english {
		line-height: 15px;
		font-size: 10px;
		width: 100px;
		height: 25px;
		margin-right: 5px;
		margin-top: 0.5%;
		background-size: 15%;
	}

	#top img {
		width: 100%
	}

	#middle {
		flex-direction: column;
	}

	#middle h1 {
		letter-spacing: 3px;
		font-size: 13px;
		margin-top: 5%;
	}

	#left, #right {
		width: auto;
	}

	.button {
		padding: 7px;
		margin-bottom: 20px;
		font-size: 10px;
		width: 100px;
	}

	footer {
		height: auto;
		padding: 20px;
		margin-bottom: 10px;
		font-size: 10px;
		text-align: center;
		color: #090909;
		background: #f4f4f4;
	}
}

@media screen and (max-width: 768px) {
	.button_language_estonian,
	.button_language_english {
		line-height: 5px;
		font-size: 5px;
		width: 50px;
		height: 12px;
		margin-right: 5px;
		margin-top: 15px;
		background-size: 15%
	}

	#top img {
		width: 100%
	}

	#middle {
		flex-direction: column;
	}

	#middle h1 {
		letter-spacing: 3px;
		font-size: 18px;
		margin-top: 8%;
}

	#left, #right {
		width: auto;
	}
	
	.button {
		padding: 7px;
		margin-bottom: 20px;
		font-size: 10px;
		width: 100px;
	}

	footer {
		height: auto;
		padding: 20px;
		margin-bottom: 10px;
		font-size: 10px;
		text-align: center;
		color: #090909;
		background: #f4f4f4;
	}
}

@media screen and (max-width: 375px) {
	.button_language_estonian,
	.button_language_english {
		line-height: 5px;
		font-size: 5px;
		width: 50px;
		height: 12px;
		margin-right: 5px;
		margin-top: 15px;
		background-size: 15%;
	} 

	#top img {
		margin-top: 5px;
		width: 100%;
	}

	#middle {
		flex-direction: column;
		height: auto;
	}

	#middle h1 {
		padding-top: 8%;
		letter-spacing: 3px;
		font-size: 13px;
	}

	#left, #right {
		width: auto;
		padding: 0px;
	}

	.button {
		padding: 7px;
		margin-bottom: 40px;
		font-size: 10px;
		width: 100px;
	}

	footer {
		padding: 2px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 6px;
		text-align: center;
	}
}