<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Viljandi Ärikeskus on asutatud 2006. aastal ja tegeleb raamatupidamisteenuste pakkumisega ja tootmisseadmete ning nende varuosade müügiga.">
	<meta name="keywords" content="Viljandi Ärikeskus, raamatupidamisteenus, tootmisseadmete müük, tootmisseadmete varuosade müük, Viljandi Ärikeskus">
	<meta name="author" content="Silva Kirsimae">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Viljandi Ärikeskus</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">
</head>

<body>
 	<a class="button_language_english" href="/en">English</a> 
	
	<div id="top">
		<img src="/img/logo.jpg">
	</div>

	<section id="middle">
		<div id="left">
			<h1>Raamatupidamisteenus</h1>
			<p class="button">
				<a href="/raamatupidamine">Vali</a>
			</p>
		</div>
		<div id="right">
			<h1>Tootmisseadmete ja nende varuosade müük</h1>
			<p class="button">
				<a href="/tootmisseadmed">Vali</a>
			</p>
		</div>
	</section>

<!-- FOOTER -->
	<footer>Copyright 2018 &copy; OÜ Viljandi Ärikeskus | Aadress: Lossi 22, 71003 Viljandi | E-mail: info@viljandi-arikeskus.ee</footer>

</body>
</html>