<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta name="description" content="Business Centrum of Viljandi is established in 2006 that offers accounting services and sales of production machinery as well as spare parts.">
	<meta name="keywords" content="Business Centrum of Viljandi, accounting services, sales of production machinery, sales of production machinery spare parts, Business Centrum">
	<meta name="author" content="Silva Kirsimae">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Business Centrum of Viljandi</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">
</head>

<body>
 	<a class="button_language_estonian" href="/">Eesti keel</a> 
	
	<div id="top">
		<img src="/img/logo.jpg">
	</div>

	<section id="middle">
		<div id="left">
			<h1>Accounting Service</h1>
			<p class="button">
				<a href="/raamatupidamine">Choose</a>
			</p>
		</div>
		<div id="right">
			<h1>Sales of production machinery and spare parts</h1>
			<p class="button">
				<a href="/sales">Choose</a>
			</p>
		</div>
	</section>

<!-- FOOTER -->
	<footer>Copyright 2018 &copy; Business Centrum of Viljandi | Address: Lossi 22, 71003 Viljandi | E-mail: info@viljandi-arikeskus.ee</footer>

</body>
</html>